@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #fff;
  color: #000;
  font-family: var(--font-geist-sans), sans-serif;
}
